#canvas {
    position: absolute;
    top: 100px; 
    left: 100px; 
    border: 8px solid;
}

#canvasimg {
    position: absolute; 
    width: 280px;
    height: 280px; 
    display: none;
}

#submit {
    position: absolute;
    top: 400px; 
    left: 100px;
}

#clear {
    position: absolute;
    top: 400px; 
    left: 180px;
}